/* dep.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #ff4d4d, #4d79ff); /* Red to Blue Gradient */
    font-family: Arial, sans-serif;
    color: #fff;
}

.deposit-container {
    background: rgba(255, 255, 255, 0.9); /* Semi-transparent white */
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 20px;
    text-align: left;
}

.input-container label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-size: 18px;
}

.input-container input[type="text"] {
    width: calc(100% - 22px); /* Full width minus padding and border */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4d79ff; /* Blue color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%; /* Full width of the container */
}

input[type="submit"]:hover {
    background-color: #365fbd; /* Darker blue on hover */
}
